<!DOCTYPE html>
<html>
<style >
	table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl1"> 

<!--table style="float: left">
<caption>SLA1</caption>
	<tr>
    <th>Minor</th>
    <th>Distance</th> 
    
  </tr-->
  <h1> {{rand}}</h1>
<table style="float: left" ng-repeat="(num,value) in names" >
<caption>SLA{{num+1}}</caption>
  <tr>
    <th>Minor</th>
    <th>Distance</th> 
    
  </tr>
  <tr ng-repeat="y in value">

        <td>{{ y.minor }}</td>
        <td>{{ y.dist}}</td>
        
  </tr>
</table>
</div>

<script>
var app = angular.module('myApp', []);
app.config(['$qProvider', function ($qProvider) {
    $qProvider.errorOnUnhandledRejections(false);
}]);
/*
app.controller('customersCtrl1', function($scope, $http,$timeout) {
  $scope.reload = function () {
    $http.get('http://127.0.0.1:8081/show')
    .then(function (response) {
    	$scope.names = response.data;
    	});
    $timeout(function(){
      $scope.reload();
    },3)
  };
  $scope.reload();
}); 
*/

app.controller('customersCtrl1', function($scope, $http,$timeout,$interval) {
  
   $http.get('http://127.0.0.1:8081/show')
    .then(function (response) {
      $scope.names = response.data;
      });
    $interval(function () {
       location.reload();
    }, 5000);
    

});

</script>

</body>
</html>
